.location {
  display: flex;
  flex-direction: column;
  align-items: center;

  &--accent {
    background-color: $bg-color-fifth;
  }
}

.location__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 26px;
  padding-bottom: 26px;
}

.location__text {
  margin: 0;
  max-width: 140px;
  font-family: $font-secondary;
  line-height: 20px;
  color: $additional-color;
  text-transform: uppercase;
}

.location__address {
  max-width: 140px;
  font-style: normal;
  line-height: 20px;
}

.location__image {
  display: block;
}
