.newsletters {
  padding-top: 40px;
  padding-bottom: 40px;
}

.newsletters__title {
  margin: 0 0 32px;
  font-family: $font-secondary;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $text-color-secondary;
}

.newsletters__text {
  margin: 0 0 24px;
  font-family: $font-secondary;
  color: $text-color-secondary;
}
