.page {
  height: 100%;
}

.page__body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  font-family: $font-primary;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $text-color-primary;
  background-color: $bg-color-fifth;
}
