.results__list {
  @include list-reset;
}

.results__item {
  position: relative;
  min-width: 280px;
  min-height: 266px;
  background-color: $bg-color-third;

  &--slim::before {
    position: absolute;
    top: 21px;
    width: 50px;
    height: 53px;
    background-image: url("../../icons/stack.svg#cat-black-slim");
    background-repeat: no-repeat;
    content: "";
  }

  &--pro::before {
    position: absolute;
    top: 21px;
    width: 67px;
    height: 50px;
    background-image: url("../../icons/stack.svg#cat-black-pro");
    background-repeat: no-repeat;
    content: "";
  }
}

.results__title {
  margin: 0 0 29px;
  font-family: $font-secondary;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  color: $text-color-secondary;
}

.results__text {
  margin: 0 0 38px;
}

.results__link {
  display: block;
  font-size: 16px;
  line-height: 16px;
  color: $text-color-secondary;
  text-transform: uppercase;
  text-decoration: none;

  &::after {
    display: block;
    width: 32px;
    height: 10px;
    background-image: url("../../icons/stack.svg#arrow_icon");
    background-repeat: no-repeat;
    content: "";
  }

  &:active {
    opacity: 0.3;
  }
}
